.inner-items{
	    box-shadow: -10px 10px 14px -7px rgba(25, 42, 70, .13);
    background: white;
    border-radius: 7px;
    overflow: hidden;
    position: relative;
    figure{
	    	width: 100%;
	    	margin: 0;
	    	height: 100px;

	    	img{
	    		width: 100%;
	    		height: 100%;
	    	}
	    }
    .course-cont{
    padding: 12px;
    padding-bottom: 10px;
	    

    	h5{
    		margin-bottom: 5px;
		    font-size: 14px;
		    font-weight: 600;
		    line-height: 21px;
		    color: #3e416d;
		    margin-bottom: 14px;
    	}
    	h6{
    		    font-weight: 600;
	    color: #afafaf;
	    font-size: 14px;
	    display: block;
	    margin-bottom: 5px;
    	}
    	.course-progressbar{
    		background-color: #e6e8ec;
    		position: relative;
    		margin: 6px 0 0 -13px;
		    margin-bottom: -10px;
		    width: 113%;
		    border-radius: 0px 0px 16px 16px;
		    height: 6px !important;
		    .course-progressbar-filler{
		    	    position: absolute;
				    top: -1px;
				    left: 0;
				    right: -1px;
				    bottom: -1px;
				    height: auto;
				    background-color: #17d292;
				    border-radius: 8px;
		    }
    	}
	}

}
.progrss-course{
	margin-bottom: 50px;
	&:last-child{margin-bottom:0;}
	&:not(:first-child){
		.inner-items{
			figure{
				height: 150px;
			}
		}
	}
	.owl-theme.owl-carousel{
	.owl-nav{
		position: absolute;
		margin: 0;
		top: -57px;
		right: 0;
		button{
			background: #3e416d url(../../assets/images/back.svg) no-repeat center center;
		    border-radius: 100%;
		    width: 40px;
		    height: 40px;
		    position: relative;
		    margin-left: 5px;
		    color: #ffffff;
		    font-size: 0;
		    line-height: 0;
		    display: inline-flex;
		    align-items: center;
		    justify-content: center;
		    background-size: 16px;
		    
		    span{
		    	display: none;
		    }
		   &.owl-next{
		   	background: #3e416d url(../../assets/images/next.svg) no-repeat center center;
		   	background-size: 16px;
		   }
		}
	}
	}
} 

.progrss-course{
		.inner-heading{
			display: flex;flex-wrap: wrap;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 15px;
			max-width: calc(100% - 120px);
			h3{
				    font-size: 21px;
				    font-weight: 400;
				    color: #3e416d;
				    margin-bottom: 0;
			}
			a{
				font-size: 14px;
			}
		}
		.course-card-info{
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: space-between;
			h4{
			font-size: 13px;
		    font-weight: 600;
		    display: inline-block;
		    margin-bottom: 7px;
		    border-radius: 4px;
		}
		}
		.browser-web-dev{
			font-weight: 500;
		    font-size: 14px;
		    margin: 0;
		    color: #686f7a;
		    line-height: 23px;
		    h5{
		    	color: #3e416d;
			    font-weight: 600;
			    margin-bottom: 5px;
			    margin-top: 0;
			    font-size: 17px;
			    line-height: 24px;
		    }
		    .course-card-footer {
			    padding: 11px 15px;
			    border-top: 1px solid #eaeaea;
			    display: flex;
			    align-items: center;
			    justify-content: space-between;
			    margin-top: 9px;
			    font-weight: 600;
			    i{
			    	margin-right: 5px;
			    	img{
			    		width: 15px;
			    		
			    	}
			    }
			    p{
			    	    font-size: 12.8px;
			    	        font-weight: 600;
			    	margin-bottom: 0;
			    	display: flex;
			    	flex-wrap: wrap;
			    	align-items: center;

			    }
			}
		}
	}
.inner-heading{
			display: flex;flex-wrap: wrap;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 15px;
			max-width: calc(100% - 120px);
			h3{
				    font-size: 21px;
				    font-weight: 400;
				    color: #3e416d;
				    margin-bottom: 0;
			}
			a{
				font-size: 14px;
			}
		}

.popular-topic{
	margin-bottom: 30px;
	.inner-heading{
		max-width: 100%;
		h3{
			a{
				font-size: 21px;
			}
		}
	}
	.popular-topicwrap{
		display: flex;
		flex-wrap: wrap;
		margin: 0 -15px;
		.popular-item{
			max-width: 25%;
			flex-basis: 25%;
			padding: 0 15px;
			.inner-popular-item{
				background: white;
				display: flex;
			    border-radius: 9px;
			    transition: 0.3s;
			    position: relative;
			    padding: 20px;
			    box-shadow: -10px 10px 14px -9px rgba(25, 42, 70, .13);
			    align-items: center;
			    color: #545e6f;
			    justify-content: space-between;
			    transition: 0.3s all ease-in-out 0s;
			    &:hover{
			    	transform: translate(0, -4px);
			    }
			    figure{
			    	max-width: 25%;
			    	flex-basis: 25%;
			    }
			    .coursename-details{
			    	flex-basis: 68%;
			    	max-width: 68%;
			    	ul{
			    		display: flex;
			    		flex-wrap: wrap;
			    		align-items: center;
			    		justify-content: space-between;
			    		li{	
			    			margin-right: 5px;
			    			font-size: 14px;
						    color: rgba(84, 94, 111, .6);
						    line-height: 16px;
						    font-weight: 400;
						    margin: 0;
			    			&:last-child{
			    				margin-right:0;
			    			}
			    		}
			    	}
			    }

	    	h3{
	    		font-weight: 400;
			    font-size: 19px;
			    line-height: 20px;
			    color: #545e6f;
			    margin-bottom: 10px;
			}
    	}
		}
	}
}




