
.breadcums{
    margin-bottom: 40px;
  ul{
    display: flex;
    align-items:center;
    li{
         padding-right: 17px;
    margin-right: 9px;
    position: relative;
      &:after{
        content: ">";
        font-weight: 600;
        position:absolute;
        right: 0;
        top: 0;
      }
      a{
         color: #15307d;
        font-weight: 500;
        opacity: .7;
      }
      &.current-menu-item{
        font-weight: 700;
        a{
          opacity: 1;
        }
      }
      &:last-child{
        padding:0;
        margin:0;
        &:after{
          display: none;
        }
      }
    }
  }
}